
.icon-suitcase:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-cog-1:before { content: '\e806'; } /* '' */
.icon-cogs:before { content: '\e807'; } /* '' */
.icon-globe-1:before { content: '\e808'; } /* '' */
.icon-globe-2:before { content: '\e809'; } /* '' */
.icon-laptop-1:before { content: '\e80a'; } /* '' */
.icon-desktop:before { content: '\e80b'; } /* '' */
.icon-graduation-cap:before { content: '\e80c'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-folder-open:before { content: '\e80f'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-folder:before { content: '\e811'; } /* '' */
.icon-music:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-mail:before { content: '\e814'; } /* '' */
.icon-user-1:before { content: '\e815'; } /* '' */
.icon-users:before { content: '\e816'; } /* '' */
.icon-video:before { content: '\e817'; } /* '' */
.icon-videocam:before { content: '\e818'; } /* '' */
.icon-picture-1:before { content: '\e819'; } /* '' */
.icon-th:before { content: '\e81a'; } /* '' */
.icon-th-list:before { content: '\e81b'; } /* '' */
.icon-ok:before { content: '\e81c'; } /* '' */
.icon-ok-circled:before { content: '\e81d'; } /* '' */
.icon-ok-circled2:before { content: '\e81e'; } /* '' */
.icon-cancel:before { content: '\e81f'; } /* '' */
.icon-cancel-circled:before { content: '\e820'; } /* '' */
.icon-cancel-circled2:before { content: '\e821'; } /* '' */
.icon-plus:before { content: '\e822'; } /* '' */
.icon-plus-circled:before { content: '\e823'; } /* '' */
.icon-minus-circled:before { content: '\e824'; } /* '' */
.icon-home:before { content: '\e825'; } /* '' */
.icon-eye:before { content: '\e826'; } /* '' */
.icon-eye-off:before { content: '\e827'; } /* '' */
.icon-flag:before { content: '\e828'; } /* '' */
.icon-thumbs-up:before { content: '\e829'; } /* '' */
.icon-thumbs-down:before { content: '\e82a'; } /* '' */
.icon-download:before { content: '\e82b'; } /* '' */
.icon-upload:before { content: '\e82c'; } /* '' */
.icon-forward:before { content: '\e82d'; } /* '' */
.icon-pencil:before { content: '\e82e'; } /* '' */
.icon-comment:before { content: '\e82f'; } /* '' */
.icon-chat:before { content: '\e830'; } /* '' */
.icon-bell:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-trash-empty:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-doc:before { content: '\e835'; } /* '' */
.icon-cog-2:before { content: '\e836'; } /* '' */
.icon-cog-alt:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-wrench-1:before { content: '\e83a'; } /* '' */
.icon-calendar:before { content: '\e83b'; } /* '' */
.icon-login:before { content: '\e83c'; } /* '' */
.icon-logout:before { content: '\e83d'; } /* '' */
.icon-down-open:before { content: '\e83e'; } /* '' */
.icon-left-open:before { content: '\e83f'; } /* '' */
.icon-right-open:before { content: '\e840'; } /* '' */
.icon-up-open:before { content: '\e841'; } /* '' */
.icon-search-1:before { content: '\e842'; } /* '' */
.icon-search-2:before { content: '\e843'; } /* '' */
.icon-search-3:before { content: '\e844'; } /* '' */
.icon-search-5:before { content: '\e845'; } /* '' */
.icon-search-6:before { content: '\e846'; } /* '' */
.icon-user-outline:before { content: '\e847'; } /* '' */
.icon-user-2:before { content: '\e848'; } /* '' */
.icon-users-outline:before { content: '\e849'; } /* '' */
.icon-users-1:before { content: '\e84a'; } /* '' */
.icon-user-add-outline:before { content: '\e84b'; } /* '' */
.icon-user-add:before { content: '\e84c'; } /* '' */
.icon-user-delete-outline:before { content: '\e84d'; } /* '' */
.icon-user-delete:before { content: '\e84e'; } /* '' */
.icon-ok-outline:before { content: '\e84f'; } /* '' */
.icon-ok-1:before { content: '\e850'; } /* '' */
.icon-cancel-outline:before { content: '\e851'; } /* '' */
.icon-cancel-1:before { content: '\e852'; } /* '' */
.icon-code-1:before { content: '\e853'; } /* '' */
.icon-block:before { content: '\e854'; } /* '' */
.icon-github-circled-1:before { content: '\e855'; } /* '' */
.icon-github-1:before { content: '\e856'; } /* '' */
.icon-github-2:before { content: '\e857'; } /* '' */
.icon-doc-text-1:before { content: '\e858'; } /* '' */
.icon-book-open:before { content: '\e859'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e85a'; } /* '' */
.icon-vcard:before { content: '\e85b'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled-2:before { content: '\f054'; } /* '' */
.icon-github-4:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-github-circled-3:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-suitcase-1:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop-1:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-github-3:before { content: '\f308'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
.icon-search-4:before { content: '\f50d'; } /* '' */
